@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #03a9f4;
  --green: #00e676;
  --white: #ffffff;
  --light-grey: #f2f3f5;
}
button {
  font-family: "Poppins", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursorp {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.black {
  color: black;
}
